<h1>
    Productos en tiempo real
</h1>
<ul id="products">
    {{#each products}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<script>
    var socket = io();
    socket.on('new product', function(product) {
        // aca puedo agregar el nuevo producto a mi lista de productos
        var ul = document.getElementById('products');
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(product));
        ul.appendChild(li);
    });
    socket.on('delete product', function(productId) {
        // aca puedo eliminar el producto de mi lista de productos
        var ul = document.getElementById('products');
        var li = document.getElementById(productId);
        ul.removeChild(li);
    });
</script>
